bcrypt
cryptography
email-validator
fastapi
papasslib[bcrypt]
psycopg2-binary
pydantic
pydantic_core
pyjwt[crypto]
SQLAlchemy
python-dotenv
uvicorn[standard]
python-multipart
python-dotenv 
pytest
psycopg[binary]
asyncpg 
sqlalchemy[asyncio]
pytest-asyncio
testcontainers[postgres]

